.PodcastPage {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.Header {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
}

.EpisodeListContainer {
  overflow: scroll;
  width: 100%;
}
