.Episode {
  display: flex;
  height: auto;
  align-items: center;
  border-top: 1px solid #3a3a3a;
  border-bottom: 1px solid #3a3a3a;
  background: rgb(21, 21, 21);
}

.Image {
  width: 20vw;
  height: 20vw;
}

.NameContainer {
  overflow-y: scroll;
  flex: 1;
  width: 60vw;
  margin: 0 5px;
  height: 100%;
}

.Name {
  width: max-content;
  padding: 0 10px;
  font-size: 5vw;
  height: 100%;
}